.container {
  display: grid;
  grid-template-rows: var(--header-height) var(--hero-height) auto;
  grid-template-areas: 
  "header" 
  "hero"
  "main";
  min-height: 100vh;
}

@import 'components/header.scss';
@import 'components/hero.scss';
@import 'components/main.scss';